body{
    background: #333;
}
.instagram-stream{
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 30px;
    display: table;
    box-sizing: border-box;
}

.clearfix{
    clear: both;
}

.instagram-stream li{
    list-style: none;
    float: left;
    box-sizing: border-box;
}

.instagram-stream li img{
    width: 100%;
    height: auto;
}

.instagram-list{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.section-title{
    font-size: 22px;
    margin: 30px auto 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-family: Arial;
    color: #fff;
    float: left;
}
